body{
overflow-x: hidden;
width: 100%;
font-family: "Config Regular";
font-size: 1.25rem;
background: #111;
-webkit-text-fill-color: #FFFFFF;
background-image: url("./crystal.png");
}
@font-face {
        font-family: "Config Regular";
        src: url("https://db.onlinewebfonts.com/t/e449a16afdbcd5c405b30eb9bbd6eca5.eot");
        src: url("https://db.onlinewebfonts.com/t/e449a16afdbcd5c405b30eb9bbd6eca5.eot?#iefix")format("embedded-opentype"),
                url("https://db.onlinewebfonts.com/t/e449a16afdbcd5c405b30eb9bbd6eca5.woff2")format("woff2"),
                url("https://db.onlinewebfonts.com/t/e449a16afdbcd5c405b30eb9bbd6eca5.woff")format("woff"),
                url("https://db.onlinewebfonts.com/t/e449a16afdbcd5c405b30eb9bbd6eca5.ttf")format("truetype"),
                url("https://db.onlinewebfonts.com/t/e449a16afdbcd5c405b30eb9bbd6eca5.svg#Config Bold")format("svg");
}
#bg{

}
button{
font-size: 1rem;
width: 200px;
height: 50px;
-webkit-text-fill-color: #000000
}

#note{
  background:#4EC234;
  opacity: 0.5;
  width: 100%;
}
#avatar{
  width:225px;
  height:225px;
}
#rankimg{
  width:300px;
  height:300px;
}
#banner{
  width:975px;
  height:115px;
}

#name ::placeholder{
-webkit-text-fill-color: #000;
}
#name{
font-size: 1.75rem;
width: 45rem;
height: 3rem;
-webkit-text-fill-color: #000;
}
#fetch{
height: 4rem;
width: 25rem;
}

#leagueinfo {
clip-path: polygon(0 0, 100% 0, 100% 82%, 100% 100%, 4% 100%, 0 86%);
background: #FF4801;
position: absolute;
top: 20rem;
left: 70rem;
padding: 10px;
}
#description{
width: 275px;
}
#namenote{
width: 100%;
background: #E90C0C;
opacity: 0.25;
}
#copyright{
opacity: 0.6;
background: #0015FF;
width: 100%;
position: relative;
bottom: -75rem;
}
#copyright h2{
position: relative;
left: 37%;
top: 100%;
}
@media only screen and (min-width: 1280px) {
#leagueinfo{
size: 35rem;
left: 60rem;
top: 20rem;
}
#banner{
width: 900px;
height: 115px
}
}
@media only screen and (min-width: 1920px) {
#leagueinfo{
left: 100rem;
}
}