body{
font-size: 1rem;
background: #111;
-webkit-text-fill-color: #FFFFFF;
background-image: url("./crystal.png");
}
#bg{

}
button{
-webkit-text-fill-color: #000000
}

#name{
  width:195px;
}

#note{
  background:#4EC234;
  opacity: 0.5;
}
#avatar{
  width:100px;
  height:100px;
}
#rankimg{
  width:100px;
  height:100px;
}
#banner{
  width:975px;
  height:115px;
}

#name ::placeholder{
-webkit-text-fill-color: #000;
}
#name{
width: 30rem;
height: 4rem;
-webkit-text-fill-color: #000;
}
#fetch{
height: 4rem;
width: 25rem;
}